<div class="container">
  <h1 class="title">
  </h1>
</div>

<!--
<md-grid-list cols="2">
  <md-grid-tile>
    <div class="text-inside-grid">
      <product-nav></product-nav>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div class="text-inside-grid">
      <product-detail></product-detail>
    </div>
  </md-grid-tile>
</md-grid-list>
-->
<div class="container">
  <div fxLayout="row">
    <div fxFlex="40%">
      <product-nav></product-nav>
    </div>
    <div fxFlex="60%">
      <product-detail></product-detail>
    </div>
  </div>
</div>